x-pinguin-service: &pinguin-service
  restart: unless-stopped
  ports:
    - "50051:50051"
    - "8080:8080"
  env_file:
    - .env.pinguin
  pull_policy: always
  volumes:
    - pinguin-data:/app/data
    - ./web:/web:ro
    - ./configs/config.yml:/configs/config.yml:ro

services:
  ghttp:
    profiles:
      - dev
      - docker
    image: ghcr.io/tyemirov/ghttp:latest
    container_name: ghttp
    restart: unless-stopped
    pull_policy: always
    volumes:
      - ./web:/web:ro
    command: ["--directory", "/web", "8080"]
    ports:
      - "4173:8080"

  tauth:
    profiles:
      - docker
    image: ghcr.io/tyemirov/tauth:latest
    container_name: tauth
    restart: unless-stopped
    pull_policy: always
    ports:
      - "8081:8081"
    env_file:
      - .env.tauth
    volumes:
      - tauth_data:/data

  tauth-dev:
    profiles:
      - dev
    build:
      context: ./docker/tauth
    image: tauth-local:latest
    container_name: tauth
    restart: unless-stopped
    ports:
      - "8081:8081"
    env_file:
      - .env.tauth
    environment:
      - TAUTH_CONFIG_FILE=/config/config.yaml
    volumes:
      - tauth_data:/data
      - ./configs/tauth/config.yaml:/config/config.yaml:ro

  pinguin-dev:
    <<: *pinguin-service
    profiles:
      - dev
    container_name: pinguin-dev
    depends_on:
      - tauth-dev
    build:
      context: .
      dockerfile: Dockerfile

  pinguin:
    <<: *pinguin-service
    profiles:
      - docker
    container_name: pinguin
    depends_on:
      - tauth
    image: ghcr.io/tyemirov/pinguin:latest

volumes:
  pinguin-data:
  tauth_data:
