TAUTH_TENANT_ID_PINGUIN=pinguin
TAUTH_TENANT_DISPLAY_NAME_PINGUIN=Pinguin
TAUTH_TENANT_ORIGIN_PINGUIN=http://localhost:8080
TAUTH_TENANT_GOOGLE_WEB_CLIENT_ID_PINGUIN=460317815414-f7ps2orvfcract2og605r2ghljbts4qv.apps.googleusercontent.com

# Must match TAUTH_SIGNING_KEY in configs/.env.pinguin.
TAUTH_TENANT_JWT_SIGNING_KEY_PINGUIN=bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
TAUTH_TENANT_SESSION_COOKIE_NAME_PINGUIN=app_session_pinguin
TAUTH_TENANT_REFRESH_COOKIE_NAME_PINGUIN=app_refresh_pinguin

TAUTH_CONFIG_FILE=/config/config.yml
TAUTH_LISTEN_ADDR=:8082
TAUTH_DATABASE_URL=sqlite:///data/tauth.db
TAUTH_ENABLE_CORS=true
TAUTH_CORS_ORIGIN_1=${TAUTH_TENANT_ORIGIN_PINGUIN}
TAUTH_CORS_EXCEPTION_1=https://accounts.google.com
TAUTH_ENABLE_TENANT_HEADER_OVERRIDE=true
TAUTH_ALLOW_INSECURE_HTTP=true
TAUTH_COOKIE_DOMAIN=
